.homeHeaderContainer {
  display: flex;
  height: 80vh;
}

.homeHeaderImg {
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 50%;
}

.homeHeaderSection {
  margin-top: 130px;
  width: 50%;
  height: 80vh;
}

.homeHeaderArticle p {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.homeHeaderArticle img {
  margin: 30px 200px;
  
}
.navLogin {
  margin-top: 20px;
  padding: 5px;
}
.navLogin a {
  text-decoration: none;
  margin: 5px;
  font-size: 13px;
}
.navLogin a:visited
  {
  color: $color-dark;
 }
 .navLogin li:last-of-type {
   border: 1px solid $color-yellow;
 }

.navLogin ul {
  display: flex;
}
.navLogin ul li {
justify-content: flex-end;
list-style-type: none;
padding: 5px;
}

.navLogin ul li:first-of-type {
  margin-left: 85vw;
}

.homeHeaderButtons {
  display: flex;
  justify-content: space-around;

}

.homeHeaderButton {
  padding: 20px 40px;
  border: 1px solid $color-dark;
  background-color: #fff;
  font-size: 0;
}

.homeHeaderButton a {
  text-decoration: none;
  font-size: 30px;
  color: $color-dark;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
  display: inline-block;
}

.navMenu ul {
  display: flex;
}

.navMenu li {
  justify-content: flex-end;
  margin: 15px;
  list-style: none;
  padding: 10px;
  font-size: 16px;

}
.navMenu li:first-of-type {
  margin-left: 48vw;
  border: 1px solid $color-dark;
  padding: 10px 20px ;
}